
body{
	font-family: "Century Gothic"
}

header{
	padding-bottom:5%;
}

.boldo{
	font-weight: bold;
	text-decoration: underline;
}

.fondo{
	background-color: #99782B;
	color:#FFFFFF;
}

.round{
	height: 100px;
	border-radius:100%;
}

.fondo p{
	font-size: 25px;
}

.contenido{
	padding: 5px;
	background-color: #161414;
	font-size: 14px;
	color: #FFFFFF;
	
}

.detras {
   background-color: #161414;

}

.random{
	padding-top:13%;
}

.shadow{
	color:#0C0B0B;
	text-shadow: 4px 4px 4px #FFFFFF;
}

.shadow h3{
	font-size: 30px;
}

.shadow p{
	font-size: 20px;
}

.texto{
	font-size: 20px;
}


hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.fondo{
	background-color: #C2A560;
	color:#FFFFFF;
}

.fondo p{
	font-size: 14px;
}

a .inmage{
	height: 200px;
	width: 180px;

}


.foco{
    -webkit-transition: all .6s;
    transition: all .6s;
    padding-top: 5px;
}

.foco:hover{
	
	-webkit-transform : scale(1.8);
         transform : scale(1.8);
         left: 0px;
         top: 0px;
       
    	 z-index:0px;

}


/*.foco:hover {
 -webkit-transform : scale(1.8);
         transform : scale(1.8;
 		 
}*/

.contacto-left{
	float:left;
	padding: 15px;
	width: 600px;

}

.contacto-left p{

	font-size: 23px;
}

.contacto-right{
	background-color:#484242;
	color:#FFFFFF;
	padding-bottom: 40px;
}

textarea{
	width: 200px;
	height: 200px;
	resize:none;
}

.floatmage{
	float: left;
	height: 300px;
	width: 300px;
	
}*/

@media screen and (min-width: 480px) {
     .floatmage {
        width:50%;
        height: 50%;
        display: block;
        margin: 0 auto;
    }

    div img .inmage{
    	display: block;
    	margin: 0 auto;
    }
}

#login{
	padding-top: 30px;
	background-color:#484242;
	color:#FFFFFF;
	width: 600px;
	height: 300px;

}

